<template>
    <div>
        <v-text-field
                v-model="icon.name"
                hide-details
        ></v-text-field>
    </div>
</template>

<script lang="ts">
import Vue from "vue";
import { Component, Prop } from "vue-property-decorator";
import { Icon } from "@/domain/module/page/entity";

@Component
export default class IconComponent extends Vue {
    @Prop({
        type: Object,
        required: true
    })
    private readonly icon!: Icon;
}
</script>

<style lang="scss">
</style>
