<template>
    <div>
        <v-text-field
                v-model="field.label"
                hide-details
        ></v-text-field>
    </div>
</template>

<script lang="ts">
import Vue from "vue";
import { Component, Prop } from "vue-property-decorator";
import { Field } from "@/domain/module/page/entity";

@Component
export default class FieldComponent extends Vue {
    @Prop({
        type: Object,
        required: true
    })
    private readonly field!: Field;
}
</script>

<style lang="scss">
</style>
