<template>
    <v-card v-if="headers.length">
        <v-toolbar dense>
            <v-toolbar-title>
                Headers
            </v-toolbar-title>
        </v-toolbar>
        <v-container>
            <v-row>
                <v-col cols="12">
                    <HeaderComponent
                            v-for="(header, i) in items"
                            :key="i"
                            :header="header"
                    ></HeaderComponent>
                </v-col>
            </v-row>
        </v-container>
    </v-card>
</template>

<script lang="ts">
import Vue from "vue";
import { Component, Prop } from "vue-property-decorator";
import { Header } from "@/domain/module/page/entity";
import HeaderComponent from "@/components/page/header/HeaderComponent.vue";
@Component({
    components: {HeaderComponent}
})
export default class HeaderList extends Vue {
    @Prop({
        required: false,
        validator(value: any): boolean {
            return Array.isArray(value) && value.every(a => a instanceof Header)
        },
        default: () => []
    })
    private readonly headers!: Header[];

    private get items(): Header[] {
        return this.headers;
    }
}
</script>

<style lang="scss">
</style>
