<template>
    <v-card v-if="paragraphs.length">
        <v-toolbar dense>
            <v-toolbar-title>
                Paragraphs
            </v-toolbar-title>
        </v-toolbar>
        <v-container>
            <v-row>
                <v-col cols="12">
                    <ParagraphComponent
                        v-for="(paragraph, i) in items"
                        :key="i"
                        :paragraph="paragraph"
                    ></ParagraphComponent>
                </v-col>
            </v-row>
        </v-container>
    </v-card>
</template>

<script lang="ts">
import Vue from "vue";
import { Component, Prop } from "vue-property-decorator";
import { Paragraph } from "@/domain/module/page/entity";
import ParagraphComponent from "@/components/page/paragraph/ParagraphComponent.vue";
@Component({
    components: {ParagraphComponent}
})
export default class ParagraphList extends Vue {
    @Prop({
        required: false,
        validator(value: any): boolean {
            return Array.isArray(value) && value.every(a => a instanceof Paragraph)
        },
        default: () => []
    })
    private readonly paragraphs!: Paragraph[];

    private get items(): Paragraph[] {
        return this.paragraphs.sort((a, b) => a.order > b.order ? 1 : -1)
    }
}
</script>

<style lang="scss">
</style>
