<template>
    <div>
        <v-textarea
            v-model="paragraph.text"
            :rows="paragraph.rows"
            hide-details
        ></v-textarea>
    </div>
</template>

<script lang="ts">
import Vue from "vue";
import { Component, Prop } from "vue-property-decorator";
import { Paragraph } from "@/domain/module/page/entity";

@Component
export default class ParagraphComponent extends Vue {
    @Prop({
        type: Object,
        required: true
    })
    private readonly paragraph!: Paragraph;
}
</script>

<style lang="scss">
</style>
