<template>
  <div class="home">
    <BoxComponent
      :box="test"
    />
  </div>
</template>

<script lang="ts">
import Component from "vue-class-component";
import Vue from "vue"
import { Box, Paragraph, Header } from "@/domain/module/page/entity";
import BoxComponent from "@/components/page/box/BoxComponent.vue";

@Component({
  components: {
    BoxComponent
  }
})
export default class HomeView extends Vue {

  get test () {
    const box = {
      name: 'Header',
              textareas: [],
            images: [],
            icons: [],
            fields: [],
            headers: [
                new Header('same')
            ],
            paragraphs: [
              new Paragraph("Hello world 3 \n dwajdgauwydgauyduaywd", 3),
              new Paragraph("Hello world 1", 1),
              new Paragraph("Hello world 2", 2),
            ],
            order: 1
    } as Box;

    Reflect.setPrototypeOf(box, Box.prototype);


    return box;
  }
}
</script>
