<template>
    <v-container>
        <v-row>
            <v-col cols="12">
                <v-card>
                    <v-toolbar color="primary" class="white--text">
                        <v-toolbar-title>
                            {{ box.name }}
                        </v-toolbar-title>
                    </v-toolbar>
                    <v-container fluid>
                        <v-row>
                            <v-col cols="12">
                                <ParagraphList :paragraphs="box.paragraphs" />
                            </v-col>
                            <v-col cols="12">
                                <HeaderList :headers="box.headers"></HeaderList>
                            </v-col>
                        </v-row>
                    </v-container>
                </v-card>
            </v-col>
        </v-row>
    </v-container>
</template>

<script lang="ts">
import Vue from "vue";
import { Component, Prop } from "vue-property-decorator";
import { Box } from "@/domain/module/page/entity";
import ParagraphList from "@/components/page/paragraph/ParagraphList.vue";
import HeaderList from "@/components/page/header/HeaderList.vue";

@Component({
    components: {
        ParagraphList,
        HeaderList
    }
})
export default class BoxComponent extends Vue {
    @Prop({
        required: true,
        type: Box
    })
    private readonly box!: Box;
}
</script>

<style lang="scss">
</style>
