<template>
    <div>
        <v-text-field
                v-model="image.url"
                hide-details
        ></v-text-field>
    </div>
</template>

<script lang="ts">
import Vue from "vue";
import { Component, Prop } from "vue-property-decorator";
import { Image } from "@/domain/module/page/entity";

@Component
export default class ImageComponent extends Vue {
    @Prop({
        type: Object,
        required: true
    })
    private readonly image!: Image;
}
</script>

<style lang="scss">
</style>
